$break-sm: 700px;
$break-md: 1000px;
$break-lg: 1600px;
$break-xl: 2000px;

$break-phone-only:599px;
$break-tablet-portrait-up:600px;

$break-tablet-landscape-bottom:989px;
$break-tablet-landscape-up:990px;

$break-desktop-up-1200:1100px;
$break-desktop-up-1455:1455px;
$break-desktop-bottom-1455:1454px;
$break-big-desktop-up-1800:1800px;

$sidebar-size:280px;
$sidebar-size-neg:-280px;

/************
// Use of breakpoint mixins
.my-box {
  padding: 10px;

  @include for-desktop-up {
    padding: 20px;
  }
}
************/

@mixin for-phone-only {
  @media (max-width: $break-phone-only) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $break-tablet-portrait-up) { @content; }
}


@mixin for-tablet-landscape-bottom {
  @media (max-width: $break-tablet-landscape-bottom) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $break-tablet-landscape-up) { @content; }
}


@mixin for-desktop-up-1100 {
  @media (min-width: $break-desktop-up-1100) { @content; }
}

@mixin for-desktop-up-1455 {
  @media (min-width: $break-desktop-up-1455) { @content; }
}

@mixin for-desktop-bottom-1455 {
  @media (max-width: $break-desktop-up-1455) { @content; }
}

@mixin for-big-desktop-up-1800 {
  @media (min-width: $break-big-desktop-up) { @content; }
}
