$color-ma-pink: #FF007A;
$color-ma-purple:#4D3570;
$color-ma-yellow:#F3B232;
$color-ma-blue-sky:#ADD2EF;
$color-ma-blue:#1E5078;
$color-ma-dark-blue:#27577f;
$color-ma-white:#FFFFFF;
$color-ma-gray:#EEE;
$color-ma-green:#53BA65;
