$color-ma-pink: #FF007A;
$color-ma-purple:#4D3570;
$color-ma-yellow:#F3B232;
$color-ma-blue-sky:#ADD2EF;
$color-ma-skyblue-light: #c0e8f9;
$color-ma-blue:#1E5078;
$color-ma-dark-blue:#27577f;
$color-ma-white:#FFFFFF;
$color-ma-gray:#EEE;
$color-ma-lightgray: #6c757d;
$color-ma-dark-gray: #999a9a;
$color-ma-lightgray-backg: #f7f7f7;
$color-ma-green:#53BA65;
$color-ma-green-hover:#5c9c67;
$color-ma-red:#d9534f;
$color-ma-gray-tables:#f9f9f9;
$color-ma-black: #000;
$color-ma-black-dropdown: #212529;

$color-ma-alert-success:#d4edda;
$color-ma-alert-success-font:#155724;

$color-ma-alert-error: #f8d7da;
$color-ma-alert-error-font: #721c24;
