.u-text-left { text-align: left !important; }
.u-text-center { text-align: center !important; }
.u-text-right { text-align: right !important; }
.hidden {
    display: none!important;
}


.errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.error-message-text{
  font-size: 11px;
  color: red;
}
