.topics{

    &__item{
        background: #53BA65;
        border-color: #53BA65;
        padding: 10px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
        display: inline-block;
        margin: 0px 5px 5px 0px;
    }
}