.topics{
    &__item-wrapper{
        padding: 10px;
    }

    &__item{
        background: $color-ma-lightgray-backg;
        border: 1px solid #eeeeee;
        padding: 10px;
        border-radius: 5px;
        color:$color-ma-blue;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
        display: inline-block;
        white-space: pre-line;
        width: 100%;
        box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);

        @include for-tablet-landscape-up{
            min-height: 50px;
        }
    }

    &__pagination{
        a {
            color:$color-ma-blue;
        }
    } 
}