.labels{

    &__section{
        margin-top: 20px;
        margin-bottom: 80px;
    }   
    &__title{
        padding: 0px 10px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    &__menu{
        min-width: 13rem;
    }

    &__list-group{
        margin-top: 10px !important;
    }

    &__new-option-name{
        font-size: 16px;
    }

    &__new-option-item{
        margin-top: 10px;
    }

    &__btn-apply-label{
        font-size: 14px;
        padding: 0px;
        background: transparent;
        border: transparent;
        color: $color-ma-lightgray;

        &:hover, &:focus, &:active, &.active{
            background: transparent;
            border: 0px;
            color: $color-ma-lightgray;
            box-shadow: none;

        }

        &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle{
            background: transparent;
            border: 0px;
            color: $color-ma-lightgray;
            box-shadow: none;

        }
        
    }
}

.label-item{
    &__list-group-item {
        background: transparent;
        border: 0px;
        color: $color-ma-white;
        padding: 0px 10px;
    }


    &__list-group-item--newlabel {
        padding: 2px;
    }

    &__divider{
        margin: 2px;
    }

    &__dropdown-menu{
        padding: 2px 0;
        font-size: 13px;
    }

    &__name-btn {
        background: transparent;
        border: 0px;

        &:hover, &:focus, &:active, &.active{
            background: transparent;
            border: 0px;
        }

        &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle{
            background: transparent;
            border: 0px;
        }
    }

    &__name-link{
        color: #fff;
        padding: 5px;
        margin-right: 5px;
        text-decoration: none !important;

        &:hover{
            font-weight: bold;
            text-decoration: none;
            color: #fff;
        }

        &:disabled{
            text-decoration: none;
            color: #fff;
            opacity: 1;
        }
    }

    &__name-link-list{
        color: $color-ma-blue;
        padding: 0px;
        margin-right: 0px;
        margin-top: 5px;

        &:hover{
            font-weight: bold;
            text-decoration: none;
            color: $color-ma-blue;
        }

        &:disabled{
            text-decoration: none;
            color: $color-ma-blue;
            opacity: 1;
        }
    }

    &__title-toggle{
        padding: 0px;
        font-size: 13px;
        border: 0px;
        color: $color-ma-blue;
        font-weight: bold;
    }


    &__toggle{
        background:transparent;
        color: $color-ma-blue;
        border: none;
        padding: 0px 0px 0px 25px;
        font-size: 14px;
        font-weight: normal;
    }

}