
.c-forgot-password {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 500px;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 6px;
    background: $color-ma-blue-sky;

    .form-group span{
      color:$color-ma-red;
      font-size: 12px;
      margin-left: 2px;
    }

}

@media (min-width: $break-md){
  .c-forgot-password {
    top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}
