/*
CSS for RegisterPage
*/
.l-register{
  border: none;
  padding: 10px;
  display: block;
  text-align: center;
}

.c-register {
        border-radius: 6px;

    &__modal-content {
        max-width: 500px !important;
        background: $color-ma-blue-sky !important;
        border-radius: 6px !important;
    }

    &__modal-header{
      padding: 0px 10px !important;
      border-bottom: 0px !important;
      background: $color-ma-blue-sky !important;
    }

    &__modal-body{
      position: relative;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1rem;
    }

    .form-check{
      padding-left:0px;
    }

}
