/*
CSS for UserProfile
*/
.l-user-profile {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 25px 25px 25px 25px;
    border-radius: 8px;
  //  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: $color-ma-white;
    @include for-phone-only {
      padding: 5px;
      border:0px;
      box-shadow: none;
    }
  } 

.c-user-profile{
    &__button-section{
        margin-top: 0px;
    }

    &__avatar{
      
      margin:auto;

      @include for-phone-only {
          padding: 0px 0px 15px 0px;
      }

      img {
        max-width: 200px;
      }
    }

    &__remove-photo {
        color: $color-ma-blue;
        position: absolute;
        right: 45px;
    }

    &__basic-info{
        .col-12{
          padding:0px;
        }
    } 

    &__nickname {
      &.form-check {
        padding-left: 0px;

        input.use-nickname {
          margin-right: 5px;
        } 
      }
    }
}

.small-text {
    font-size: 14px;
}

.section-user-title {
    margin-top: 15px;
    margin-bottom: 15px;
}
.sub-section-user-title{
  margin-top: 10px;
}

#senha-atual, #nova-senha {
    margin-bottom: 10px;
}

#sobre-mim {
    border-radius: 0px;
    height: 100px;
}

.vertical-align{
  display: inline-block;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}