/*
CSS for UserProfile
*/
.l-user-profile {
    border: 2px solid #FFFFFF;
    padding: 25px 25px 25px 25px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    @include for-phone-only {
      padding: 5px;
      border:0px;
      box-shadow: none;
    }
  } 


.c-user-profile{
    &__button-section{
        margin-top: 0px;
    }

    &__avatar{
      
      margin:auto;

      @include for-phone-only {
          padding: 0px 0px 15px 0px;
      }

      img {
        max-width: 200px;
      }
    }

    &__basic-info{
        .col-12{
        padding:0px;
        }
    }
    


   
}

.small-text {
    font-size: 14px;
}

.section-user-title {
    margin-top: 15px;
    margin-bottom: 15px;
}
.sub-section-user-title{
  margin-top: 10px;
}



#senha-atual, #nova-senha {
    margin-bottom: 10px;
}

#sobre-mim {
    border-radius: 0px;
    height: 100px;
}
