.modal{
  &__header{
    background: $color-ma-green;
    color: white;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  &__content{
    @include for-tablet-landscape-up{
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }


    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $color-ma-white;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
  }

  &__footer{
    border-top: transparent;
    padding: 0rem 0rem 0rem 0rem;
  }
}

.ReactModalPortal .modal.show{
	display: block !important;
  background-color: rgba(0, 0, 0, 0.7);
      z-index: 9999;
}

.modal.show{
	display: block !important;
  background-color: rgba(0, 0, 0, 0.4);
      z-index: 9999;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Overlay .modal-dialog{
-webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;}

//Modal that shows last 5 documents in responsive mode
.modal-last5-document{
  &__link-more-documents{

    &:hover{
      text-decoration:none !important;
    }

    &:active{
      text-decoration:none !important;
    }
  }
}

//Modal fixed and scroll section
.modal-fixed{
  position: fixed;
  top: 0px;
  left: 30px;
  right: 30px;
  bottom: 0px;

  @include for-phone-only{
    left: 0;
    right: 0;
  }
}

.modal-fixed__content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  min-height: 300px;
}

.modal-fixed__body{
  position: absolute;
  top: 62px;
  left: 0;
  right: 0;
  bottom: 0px;
  height: auto;
  width: auto;
  margin: 0;
  overflow: auto;
  background: #fff;
  border-top: 1px solid #ddd;
}

.modal-fixed__body-all{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-fixed__body-section-scroll{
  position: absolute;
  top: 135px;
  left: 0;
  bottom: 75px;
  overflow: auto;
  outline: 0;
  padding: 5px;
  width: 100%;
}

.modal-fixed__body-section-questions-scroll{
  position: absolute;
  top: 130px;
  left: 0;
  bottom: 75px;
  overflow: auto;
  outline: 0;
  padding: 5px;
  width: 100%;
}
.modal-content .c-object-base__total-results {
  margin-top: 0px;
}

.modal-fixed__footer{
position: absolute;
position: absolute;
/* left: 200px; */
right: 0;
bottom: 0;
/* height: 60px; */
z-index: 100;
/* bottom: 60px; */
height: auto;
padding: 10px;
width: 100%;
}

.modal-fixed__pagination-top{
  padding-right: 7px;
}

.modal-fixed__pagination-bottom{
    position: absolute;
    right: 0;
    bottom: 25px;
    z-index: 100;
    height: auto;
    padding: 10px 5px;
    width: 100%;
}