.modal{
  &__header{
    background: $color-ma-green;
    color: white;
    text-align: center;
  }

  &__content{
    @include for-tablet-landscape-up{
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }

    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
  }

  &__footer{
    border-top: transparent;
    padding: 0rem 0rem 0rem 0rem;
  }
}
