/*
Author: MasterAula - Pamela Rosales
*/

body{
  font-family: $lato;
  padding: 0px;
  margin: 0;
  font-size: 14px;
}

h1, h2, p, ul, li {
  font-family: $lato;
}

/*CSS header*/
ul.header {
    padding: 0;
    margin-bottom: 0;

    li {
      display: inline;
      list-style-type: none;
      margin: 0;
    }

    li a {
    color: $color-ma-white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    }
}

/*CSS content*/
.content {
  color: blue;
  padding: 0px 15px;

  h2 {
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }

}

//Customize some Bootstrap classes according MasterAula design
.btn {
    font-size: 14px;
    padding: 5px 10px;

  &--confirm {
      color: $color-ma-white;
      background-color: $color-ma-green;
      border-color: $color-ma-green;
  }
  &--confirm:hover {
      color: $color-ma-white;
      background-color: $color-ma-green;
      border-color: $color-ma-green;
  }

  &--confirm:focus {
      color: $color-ma-white;
      background-color: $color-ma-green;
      border-color: $color-ma-green;
  }
}


.btn-margin-right{
  margin-right: 15px;
}

.btn__icon{
  margin-right: 7px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.bg-primary {
    background-color: $color-ma-blue !important;
}

.small-text {
    font-size: 12px;
}

.auto-margin-left-element{
      margin-left: auto;
}

.margin-bottom--10px{
  margin-bottom: 10px;
}

.dropdown-item.active, .dropdown-item:active {
  color: $color-ma-white;
  text-decoration: none;
  background-color: $color-ma-dark-gray;
}

/*Modal CSS General**/
.modal-content {
    background: transparent;
    border: transparent;
}
.modal-title {
    width: 100%;
}


.hidden-xs{
  @include for-tablet-landscape-bottom {
    display: none;
  }
}