.c-footer {
    transition: all 0.3s ease;
    background: $color-ma-black-sidebar;
    padding: 0px;
    color: $color-ma-white;
    bottom: 0;
    width: 100%;
    /* z-index: -1; */
    font-size: 13px;

    &__section-info-contact{
        padding: 10px;
    }

    &__section-copyright{
        background-color: $color-ma-black-footer;
        padding: 3px;
    }

    &__contact-info-link{
        color:white;
        text-decoration: none;
        display: inline-block;

        &:hover{
            color:white;
            font-weight: bold;
            text-decoration: none;
        }

        // https://stackoverflow.com/questions/556153/inline-elements-shifting-when-made-bold-on-hover/20249560
        &:before {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }

    &__social-network-icon{
        font-size:20px;
        color: $color-ma-white;
    }

    &__whatsap{
        @include for-phone-only{
            display: block;
        }
    }

    
}
