/*Clases do Home*/
.o-thumb-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;


    &__img {
        width: 100%;
    }
}

.c-public-home{
    &__signup-lg-btn{
        color: $color-ma-white;
        background-color: $color-ma-green; // #72849c;
        border-color: $color-ma-green;// #72849c;
        border-radius: 10px; 
        letter-spacing: 3px;
        
        @include for-tablet-portrait-up {
            font-size: 35px !important;
            padding: 10px 27px !important;
        }

        &:hover{
            background-color:#7cd08b; //#1e4f78;
            border-color: #7cd08b;// #1e4f78;
            color: $color-ma-white;
        }

       
    }


   &__video-section{
        max-width: 100%;
        background-color:$color-ma-blue-gray;
        padding: 40px 0px;
   }

   &__video-section-title{
       color:#515b69;
       font-weight: bold;
       &--sub{ 
        color:#7f8795;
       }
   }

   &__video-section-row{
      margin: auto;
      text-align: center;
   }

   &__video-section-col{
       padding:10px;
   }

   &__video-iframe{
        width:750px;
        height:422px;
        @include for-phone-only{
            width:auto;
            height:auto
        }
   }

    &__pricing-button {
        color: $color-ma-white;
        background-color: $color-ma-green; // #72849c;
        border-color: $color-ma-green;// #72849c;
        font-size: 35px;
        border-radius: 10px;
        padding: 10px 27px;
        font-size: 35px;
        letter-spacing: 3px;

        &:hover{
            background-color:#7cd08b; //#1e4f78;
            border-color: #7cd08b;// #1e4f78;
            color: $color-ma-white;
        }
    }

    &__pricing-button-section {
        min-height: 180px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__pricing-description {
        font-size: 20px;
        padding: 25px;
        line-height: 2em;
    }

   &__features{
    padding-top: 60px;
    padding-bottom: 60px;
    }

    &__l-features-title{
        padding: 10px;
        margin-bottom: 15px;
    }

    &__features-title{
        color: $color-ma-blue;
        font-weight: bold;
    }

    &__features-icon{
        margin-bottom: 15px;
    }
    
    &__feature-description{
    font-size:18px;
    margin-bottom: 30px;
    }

   &__banner {
      //background: url(../img/home/banner.jpg) top left 100% no-repeat fixed;
      background: $color-ma-blue top left 100% no-repeat fixed;
      background-size: 100% auto;
      color: $color-ma-white;
      padding: 1em;
      text-align: center;
      margin-top:55px;
      padding: 55px 10px;
    }

   &__main-title{
       font-weight: bold;
   }

   &__call-action-bg {
    background: url(../img/home/bg_callaction.png) bottom left 100% repeat fixed;
    max-width: 100%;
  }

    &__call-action-row{
        margin: auto;
        text-align: center;
        padding:40px;
        color: $color-ma-white;
    }

    &__call-action-col{
        padding:10px;
    }

    &__call-action-text{
        font-size:35px;
        font-weight: bold;
        padding: 15px 0px;
    }

}

.banner{
    &__img-ma-screen{
        width: 100%;
    }

    &__text-side{
        margin-bottom: 15px;
    }

}
//Web mode only
@media (min-width: $break-md){
  .c-public-home{
    &__title-description{
      margin: 40px;
      font-size: 25px;
      font-weight: 400;
      line-height: 40px;
    }
  }
}

//Responsive mode only
@media (max-width:  $break-md){
    .c-public-home{
      &__banner{
          font-size: 18px;
          font-weight: 400;
          line-height: 1.2;
      }

      &__main-title{
          font-size: 25px;
      }

      &__title-description{
            margin: 10px;
      }

      &__features{
          padding-top: 30px;
          padding-bottom: 30px;
      }
   }
}