/*Clases do Home*/

.o-thumb-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;


    &__img {
        width: 100%;
    }
}

.c-public-home{

   &__pricing-section{
        background-color: #f6f8f9;
        max-width: 100%
   } 

   &__pricing-section-row{
        max-width: 1140px;   
        margin: auto;
        text-align: center;
    } 

    &__pricing-button {
        color: $color-ma-white;
        background-color: $color-ma-green;
        border-color: $color-ma-green;
        font-size: 35px;
        border-radius: 33px;
        padding: 10px 27px;
        font-size: 35px;
        letter-spacing: 3px;

        &:hover{
            color: $color-ma-blue;
            background-color: $color-ma-green-light;
            border-color: $color-ma-green-light;
        }
    }

    &__pricing-button-section {
        min-height: 180px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__pricing-description {
        font-size: 20px;
        padding: 25px;
        line-height: 2em;
    }

   &__features{
    padding-top: 60px;
    padding-bottom: 60px;
  }

    &__feature-description{
    font-size:18px;
    margin-bottom: 30px;
    }

   &__banner {
      background: url(../img/home/banner.jpg) top left 100% no-repeat fixed;
      background-size: 100% auto;
      color: $color-ma-white;
      padding: 1em;
      text-align: center;
      margin-top:55px;
      padding: 55px 10px;
    }

   &__main-title{
       font-weight: bold;
   }

}


//Web mode only
@media (min-width: $break-md){
  .c-public-home{
    &__title-description{
      margin: 40px;
      font-size: 25px;
      font-weight: 400;
      line-height: 40px;
    }
  }
}

//Responsive mode only
@media (max-width:  $break-md){
    .c-public-home{
      &__banner{
          font-size: 18px;
          font-weight: 400;
          line-height: 1.2;
      }

      &__main-title{
          font-size: 25px;
      }

      &__title-description{
            margin: 10px;
      }

      &__features{
          padding-top: 30px;
          padding-bottom: 30px;
      }
   }
}
