/** New Document and ViewDocument in "My Documents" options*/
/*Questions in EditDocument*/
.c-document{
    &__tab-content{

    }

    &__header{
      padding: 15px;
      border: 2px solid #FFFFFF;
      padding: 25px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: #FFFFFF;
      margin-top: 10px;
    }

    &__main-buttons{
      margin: 15px 0px;
    }

    &__question{
      position: relative;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.125);
      margin: 10px 0px;
      padding: 20px 10px;
    }

    &__question-header{

    }

    &__question-info-header{
      @include for-tablet-landscape-up{
        margin-bottom: 10px;
    }
      
    }

    &__question-content{
      display: inline-flex;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      text-align:justify;
    }

    &__question-view-more{
      text-align: right;
    }

    //TODO: Review
    &__questions-header{
      position: relative;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: $color-ma-white;
      border: 1px solid rgba(0, 0, 0, 0.125);
      margin: 10px 0px;
      padding: 20px 10px;
    }

    &__btn-remove-question{
      padding: 0px;
      line-height: 0px;
      background: $color-ma-red;
      width: 40px;
      height: 40px;
      color: $color-ma-white;
      font-size: 25px;
      border-radius: 25px;
      border: 1px solid  $color-ma-red;
    }

}


.l-btn-remove-question{
  position: absolute;
  top: -20px;
  right: -20px;

}


/*QuestionModal in DocumentPage*/
.c-document__question-modal{
  padding-top: 0px;
  background: $color-ma-white;
  border-radius: 5px;
}

.c-document__question-modal-body{
  padding-top: 0px;
}


/*DocumentModal in DocumentListPage - ViewDocumentPage*/
.c-document-modal{
  padding-top: 0px;
  background: $color-ma-white;
  border-radius: 5px;

  &__header-info{
    position: relative;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background:$color-ma-white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 10px 0px;
    padding: 20px 10px;
  }

  &__question{
    position: relative;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background:$color-ma-white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 10px 0px;
    padding: 20px 10px;
  }

  &__question-number{

  }

  &__question-content{
    display: inline-flex;
    width: 100%;
  }

  &__footer{
    border: 0px;
    padding-top: 0px;
  }

}

/*New document button in Sidebar*/
.document{
  &__new-document-btn{
    background: transparent;
    border-color: transparent;
    color: $color-ma-blue;
    font-weight: bold;
    cursor: pointer;
  }

  &__new-document-modal-header{
    background: $color-ma-green;
    color: white;
    text-align: center;
  }

  &__new-document-modal-content{
    @include for-tablet-landscape-up{
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }

    background:$color-ma-white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
  }

  &__new-document-modal-footer{
    border-top: transparent;
    padding: 0rem 0rem 0rem 0rem;
  }
}


/*My documents option*/
<<<<<<< HEAD
=======

>>>>>>> develop
.l-my-documents-list{
  width:100%;
}

.my-documents{ 
  &__total-results {
    margin-bottom: 15px;
    font-size: 14px;
    color: $color-ma-blue;
    font-weight: bold;
    margin-left: -10px;
  }
}

.pagination-my-documents.row a {
  color:$color-ma-blue;
}

tbody tr {
<<<<<<< HEAD
  background-color:$color-ma-white;
}

tbody tr.odd {
  background-color: $color-ma-gray-tables
}

=======
  background-color: white;
}

tbody tr.odd {
  background-color: #f9f9f9;
}
>>>>>>> develop
