/** New Document and ViewDocument in "My Documents" options*/
/*Questions in EditDocument*/
.c-document{

    &__header{
      padding: 15px;
      border: 2px solid $color-ma-white;
      padding: 25px;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background: $color-ma-white;
      margin-top: 10px;
    }

    &__logo{
      padding: 10px;
      @include for-phone-only {
        padding: 0px 0px 15px 0px;
      }

      img {
        max-width: 200px;
      }
    }

    &__main-buttons{
      margin: 15px 0px 0px;
    }

    &__question{
      position: relative;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background: $color-ma-white;
      border: 1px solid rgba(0, 0, 0, 0.125);
      margin: 20px 0px;      
      padding: 20px 10px;
    }

    &__question-unavailable{
      font-size: 11px;
      padding: 5px;
    }

    &__question-info {
      background: $color-ma-white;
    }

    &__question-info-title {
      color: $color-ma-blue;
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 15px;
    }

    &__question-info-subtitle {
      color: $color-ma-black;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &__question-info-row {
      font-size: 13px;
      margin-bottom: 5px;
    //  font-style:italic;

    }

    &__question-info-row-topics {
      .badge {
        margin-right: 2px;
        font-size: 11px;
        border-radius: 5px;
        padding: 4px;
      }
    }

    &__question-info-detail {
    //  padding: 3px 5px;
      border-radius: 5px;
    //  color: $color-ma-white;
    //  font-weight: bold;
      margin-bottom: 10px;
      margin-right: 5px;
      text-align: center;
      font-style:normal;
      white-space: nowrap;
      font-style:italic;
    }

    &__question-info-detail--green {
      background: $color-ma-green;
    }

    &__question-info-detail--pink {
      background: $color-ma-pink;
    }

    &__question-number-learning-obj{
      font-size: 13px;
      color:$color-ma-green;
    }

    &__question-info-statement {
      color: $color-ma-black;
      margin-bottom: 5px;
    }

    &__question-info-author {
      color: $color-ma-dark-gray;
      font-style:italic;
      margin-bottom: 5px;
    }



    //TODO: Review
    &__question-content{
      display: inline-flex;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      text-align:justify;
    }

    &__question-view-more{
      text-align: right;

      @include for-tablet-landscape-bottom{
        text-align: center;
        margin-top: 10px;
      }
    }

    //TODO: Review
    &__questions-header{
      position: relative;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: $color-ma-white;
      border: 1px solid rgba(0, 0, 0, 0.125);
      margin: 10px 0px;
      padding: 20px 10px;
    }

    &__btn-remove-question{
      background: $color-ma-red !important;
      color: $color-ma-white;
      border: 1px solid  $color-ma-red !important;
      margin-right: 5px;
    }

    &__btn-remove-question:hover{
      background: $color-ma-red;
      border-color: $color-ma-red !important;
    }

    &__btn-remove-question:focus{
      background: $color-ma-red;
      border-color: $color-ma-red !important;
    }

}


.l-btn-remove-question{
  position: absolute;
  top: -20px;
  right: -20px;

}


/*QuestionModal in DocumentPage*/
.c-document__question-modal{
  padding-top: 0px;
  background: $color-ma-white;
  border-radius: 5px;
}

.c-document__question-modal-body{
  padding-top: 0px;
}


/*DocumentModal in DocumentListPage - ManageDocumentsPage*/
.c-document-modal{
  padding-top: 0px;
  background: $color-ma-white;
  border-radius: 5px;

  

  &__header-info{
    position: relative;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background:$color-ma-white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 10px 0px;
    padding: 20px 10px;
  }

  &__header-label{
    font-style: italic;
    margin-bottom: 0px;
  }

  &__header-label--info{
    font-style: normal;
  }

  &__header-label--check{
    font-style: normal;
    font-size:13px;
    color: $color-ma-blue;
  }

  &__header-logo{
    text-align: center;
  }

  &__question{
    position: relative;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background:$color-ma-white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 10px 0px;
    padding: 20px 10px;
  }

/*  &__question-number{

  }*/
  &__main-options{
    margin: 0px;
  }

  &__question-content{
    display: inline-flex;
    width: 100%;
  }

  &__footer{
    border: 0px;
    padding-top: 0px;
  }

}

/*New document button in Sidebar*/
.document{
  &__new-document-btn{
    background: transparent !important;
    border-color: transparent !important;
    color: $color-ma-white !important;
    font-weight: bold !important;
    cursor: pointer !important;
    padding: 0.45rem 1.25rem;
    letter-spacing: 0.5px;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }

  &__new-document-modal-header{
    background: $color-ma-green;
    color: white;
    text-align: center;
  }

  &__new-document-modal-body{
    .p--without-mbottom{
      margin-bottom: 0px;
    }
  }


  &__new-document-modal-content{
    @include for-tablet-landscape-up{
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }

    background:$color-ma-white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
  }

  &__new-document-modal-footer{
    border-top: transparent;
    padding: 0rem 0rem 0rem 0rem;
  }
}


/*My documents option*/
.l-my-documents-list{
  width:100%;
}

.c-my-documents{
  &__cell{
    word-wrap: break-word;
      @include for-tablet-landscape-bottom{
      max-width: 200px;
      word-wrap: break-word;
      padding: 5px !important;
      margin: 0px;
      }
  }

  &__total-results {
    margin-bottom: 10px;
    font-size: 14px;
    color: $color-ma-blue;
    font-weight: bold;
    margin-top:10px;

  }

  &__dropdown-section{
    float: right;
    margin-bottom: 15px;
    display: inline-flex;
    font-size:12px;
  }

  &__dropdown-toogle{
    font-size:12px;
  }
  &__dropdown-item{
    font-size:11px;
  }

  &__order-label{
    margin: 5px;
  }

  &__btn-remove{
    color: $color-ma-red;

    &:active{
      color: $color-ma-white;
      background-color: $color-ma-red;
    }
    &:hover{
      color: $color-ma-white;
      background-color: $color-ma-red;
    }
  }

  .table-responsive{
    @include for-tablet-landscape-up{
      overflow: inherit !important;
    }
  }
}

tbody tr {
  background-color:$color-ma-white;
}

tbody tr.odd {
  background-color: $color-ma-gray-tables
}


/* Export Document Modal - options*/
.c-export-document{
  
  &__new-header{
    font-size:12px;
    margin-left: 2px;

    &:hover{
      text-decoration: none;
    }
  }
  
  &__option-name{
    margin-bottom: 5px;
    font-weight: bold;
    color: $color-ma-lightgray;
  }

  &__select-item{
    font-size: 14px;
  }

  &__select select.form-control {
    font-size: 14px;
  }

  &__answers-section{
    margin-bottom:0px;
  }

  &__answers-label {
    padding-left: 20px;
  }

  &__answers-label:first-child {
    padding-left: 0px;
  }

}


/*Add question with CreateDocumentModal - user is able to select a document*/
.o-list5documents .rw-filter-input.rw-input.rw-widget-picker.rw-widget-container {
  width: 98% !important;
}

/*Add question with CreateDocumentModal - user is able to select a document*/

.o-list5documents .rw-list-option-create li.rw-list-option {
  background: $color-ma-blue;
  color:$color-ma-white;
  font-size: 16px !important;
}


/*Search Document Modal from ClassPlan*/
.search-document-modal{
  &__body-section-scroll{
      top: 100px !important;
  }
}