#footer-container {
    background: var(--color-ma-blue);
    padding: 3px;
    color: white;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    font-size: 13px;
}

html body #footer-container{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

div#footer, div#footer .row {
    background: var(--color-ma-dark-blue);
    text-align: center;
}


