:root{
  --color-ma-pink: #FF007A;
  --color-ma-purple:#4d3570;
  --color-ma-yellow:#f3b232;
  --color-ma-blue-sky:#add2ef;
  --color-ma-blue:#1E5078;
  --color-ma-dark-blue:#27577f;
  --color-ma-white:#ffffff;
  --color-ma-gray:#eee;
  --color-ma-green:#53ba65;
  --sidebar-size:280px;
  --sidebar-size-neg:-280px;
  --max-width-mobile:869px;
  --min-width-web:868px
}

@custom-media --break-sm (min-width: 384px);
@custom-media --break-md (min-width: 576px);
@custom-media --break-lg (min-width: 768px);

@custom-media --high-dppx (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi), (min-resolution: 1.5dppx);

.errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

/*alerts*/
.alert p {
    margin-bottom: 0px;
}

.alert {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
}
