/*Clases do Home*/
.bg-primary {
    background-color: #0980b2 !important;
}

.banner-header {
    background: url(../img/home/banner.jpg) top left 100% no-repeat fixed;
    background-size: 100% auto;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.thumb-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}

.thumb-circle img {
    width: 100%;
}

.texto-banner-header{
  font-size: 25px;
    font-weight: 400;
    line-height: 40px;
}


.container.caracteristicas-ma {
    padding-top: 60px;
    padding-bottom: 60px;
}

.texto-banner-header p {
    margin: 40px;
}

.main-contenedor {
    padding-top: 25px;
}


.main-contenedor {
    padding-top: 30px;
    margin-bottom: 30px;
}


.row {
    margin-left: 0px;
    margin-right: 0px;
}
