/*LOGIN*/
.contenedor-login {
    max-width: 500px;
    background: var(--color-ma-blue-sky);
    border-radius: 10px;
}

.contenedor-forgotpassword {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 500px;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 10px;
    background: var(--color-ma-blue-sky);

}

@media (min-width: 868px){
  .contenedor-forgotpassword {
    top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}


.contenedor-login h4{
  text-align: center;
}


/*Modal*/
.modal-content {
      border-radius: 10px;
}

.modal-header{
  padding: 0px 10px;
  border-bottom: 0px;
}

.position-login{
  border: none;
  padding: 10px;
  display: block;
}
