/*sidebar masteraula*/
li.nav-item {
    margin-right: 15px;
}

.nav-item a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

div#navbar, div#navbar .col-12 {
    padding: 0px;
}

/*SIDE BAR*/
