/*MENU*/

/*
amarelo: #f3b232
azul: #0980b2
azul escuro: #27577f
*/
li.nav-item {
    margin-right: 15px;
}

.nav-item a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

div#navbar, div#navbar .col-12 {
    padding: 0px;
}



.navbar-default {
    background-color: #fff;
    border-color: #eee;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
@media (min-width: 990px){
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;

}

/*SIDE BAR*/


html body #sidebar #sidebar-container {
    bottom: 0;
    width: 250px;
    overflow: hidden;
    position: absolute;
    top: 110px;
}

@media (min-width: 990px){
html body #sidebar {
    left: 0;
}}

@media (max-width: 990px){
html body #sidebar {
      left: -250px;
}}

html body #sidebar {
    top: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 250px;
    background: #27577f;
}

#sidebar h5, #sidebar h6 {
    color: white;
}
