/*MENU*/

/*
amarelo: #f3b232
azul: #0980b2
azul escuro: #27577f
*/
li.nav-item {
    margin-right: 15px;
    list-style: none;
}

.nav-item a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

div#navbar, div#navbar .col-12 {
    padding: 0px;
}



.navbar-default {
    background-color: #fff;
    border-color: #eee;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
@media (min-width: 990px){
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;

}

/*SIDE BAR*/


html body #sidebar #sidebar-container {
    bottom: 0;
    width: 250px;
    overflow: hidden;
    position: absolute;
    top: 110px;
}

@media (min-width: 990px){
html body #sidebar {
    left: 0;
}}

@media (max-width: 990px){
html body #sidebar {
      left: -250px;
}}

html body #sidebar {
    top: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 250px;
    background: #27577f;
}

#sidebar h5, #sidebar h6 {
    color: white;
}


html body #rubix-nav-header .navbar-nav:first-child {
    margin-left: -25px;
}

html body #rubix-nav-header .navbar-nav {
    margin: 0;
    display: inline-block;
}
@media (max-width: 989px){
.visible-xs-inline-block {
    display: inline-block !important;
}}


.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
}
.pull-left {
    float: left !important;
}
.navbar-nav {
    margin: 12.5px -25px;
}
