/*
CSS for UserProfile
*/

@import url(https://fonts.googleapis.com/css?family=Lato);

body{
  font-family: 'Lato',sans-serif;
  margin: 0;
}

.contenedor-profile .form-group{
   font-family: 'Lato',sans-serif;
}

.hidden {
    display: none!important;
}

.thumbnail img {
    max-width: 200px;
}
.small-text {
    font-size: 14px;
}

.section-user-title {
    margin-top: 25px;
}
.sub-section-user-title{
  margin-top: 10px;
}
