#navbar{
    background: $color-ma-blue;
}

.nav-item .position-login{
  border: none;
  padding: 10px;
  display: block;
  text-align: center;
}

// top menu - document options
.menu-top{
  background: $color-ma-lightgray-backg !important;
  width: 100%;

  &__options{
    background: $color-ma-lightgray-backg !important;
    width: 100%;
  }
}