.l-site-masteraula{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    &__user-home, &__public-home{
      flex:1;
    }

    &__public-home{
            //adicionado só para teste
            background: url(../img/home/banner.jpg) top left 100% no-repeat fixed;
            background-size: 100% auto;
            color: #FFFFFF;
            padding: 1em;
            text-align: center;
            margin-top: 55px;
            padding: 55px 10px;

      }
}



.l-user-operations  {
    padding-top: 30px;
    margin-bottom: 30px;
}
