//For each group of filters. Ex. "Discipline's filters"
.c-filters{
    background:  $color-ma-lightgray-backg;
    color: $color-ma-blue;
    border: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow: hidden;

    &:last-child {
        border-radius: 0px;
    }

    /* Ex.: "Disciplina"*/
    &__question-category-filter{
        font-weight: bold;
        padding: 11px 0px 10px 15px;
        cursor: pointer;
    }

    &__question-category-filter-icon {
        top: 3px;
        right: 0px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        line-height: inherit;
        border: 0px;
        background-color: $color-ma-lightgray-backg !important;
        color: inherit;
    }
    

    /* Ex.: "Arte", "Matemática", "Biologia", etc */
    &__question-group-filters{
        margin: 0px 10px !important;
    }

    /* Ex.: "Arte" */
    &__question-single-filter{
        background:$color-ma-lightgray-backg;
        color: $color-ma-blue;
        border: none;
        padding: 0px 0px 0px 25px;
        font-size: 14px;
        font-weight: normal;

        &:last-child {
            padding-bottom: 10px;
        }
    }

}


.l-question-all-filters__clear-button{

    text-align:center;
    padding:5px 2px;
    
    &--btn{
        width:100%;
        font-size:12px;
        padding:3px;
        background: $color-ma-green;
        border-color: $color-ma-green;
        font-weight:bold;

        &:disabled {
            background: $color-ma-green !important;
            color: $color-ma-white !important;
            opacity: 0.9 !important;
        }
    }

    &--btn:hover{
        background: $color-ma-green-hover;
        border-color: $color-ma-green-hover;
    }
}

.question-all-filters{
    h6{
        padding-left:10px;
    }
}
