/*CSS for Question*/

/*main class for any question's label-info that is shown in QuestionCard and QuestionPage*/
.question-info{
  padding: 5px 10px;
  border-radius: 5px;
  color: $color-ma-white;
  background: $color-ma-green;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size:13px;
  text-align:center;

  &--source-year{
    margin-bottom: 10px;
  }

  &--purple{
    background: $color-ma-purple;
  }

  &__more-info{
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__author{
        font-weight: bold;
        font-style: italic;
  }

  @include for-phone-only {
        display: inline-flex;
    }

}


//Question Page where c-question is the main container
.c-question {
    &__row-info {
        margin-bottom: 10px;
    }

    //Don't show results number in QuestionPage
    .c-question-base__total-results {
        display: none;
    }

    &--section-border{
      border: 1px solid rgba(0, 0, 0, 0.125);
      margin: 10px 0px;
      padding: 20px 10px;
    }

    &__tittle-section{
      margin-top: 25px;
      margin-bottom: 10px;
    }

    &__full-statement img{
      max-width: 100%;
    }

  /*  &__learning-object{

    }*/

    //Learning Object section in QuestionPage
    &__img{
      @include for-phone-only {
            width: 100%;
        }
    }

    &__alternatives .alternative:last-child{
        margin-bottom: 0px;
    }

    &__answer{
      margin-bottom: 0px;
    }

    &__answer-title{
      font-weight: bold;
    }

    &__l-alternative{
      display: flex;
    }

    &__resolution-text{
      font-style: italic;
      margin-top: 5px;
    }
}


.texto_associado_questao {
  text-align: center;
}

.texto_associado_questao img {
  max-width: 100%;
}