//Classes for Question Base that holds all question cards results.
.c-question-base{

    &__search-text{
      padding: 0px 15px 15px 15px;
    }
    &__results{
      margin-top: 20px;
    }

    &__alert{
      &--warning{
        margin-left: 10px;
      }
    }

    &__total-results{
      margin-bottom: 15px;
      font-size: 14px;
      color:$color-ma-blue;
      font-weight: bold;
    }
}

//Classes for QuestionCard
.l-question-card-text{
    margin-top: 5px;
}

.question-card {
    margin-bottom: 20px;

    //ini: buttons
    &__btn{
      font-size:13px;
      margin-right: 10px;
      @include for-phone-only {
        padding: 5px 8px;
      }
    }

    &__added{
      font-size:13px;
      background: $color-ma-yellow;
      color: $color-ma-white;
      cursor: default !important;
      @include for-phone-only {
        padding: 5px 8px;
      }
    }
    //end: buttons 

    &__info-section-item{
      padding: 3px 7px;
      border-radius: 5px;
      color: $color-ma-white;
      font-weight: bold;
      font-size: 11px;
      text-align: center;
      display: inline-block;
      background: $color-ma-dark-gray;
      margin: 0px 5px 5px 0px;
    }

    &__info-section-item--pink{ 
      background: $color-ma-pink;
      border-color:  $color-ma-pink
    }

    &__info-section-item--green{ 
      background: $color-ma-green;
      border-color:  $color-ma-green;
    }

    &__info-section-item--purple{ 
      background: $color-ma-purple;
      border-color:  $color-ma-purple;
    }
  
    &__more-info{
      font-size: 12px;
      margin-bottom: 5px;
    }

    &__extract{
      font-size: 14px;
      margin-bottom: 5px;
      text-align: justify;
    }
  
    &__author{
          font-weight: bold;
          font-style: italic;
    }
  


    &__body{
      padding: 15px;
      &:hover {
        border: 0px solid transparent;
        -webkit-box-shadow: 0 3px 7px 0 ;
        -moz-box-shadow: 0 3px 7px 0  $color-ma-dark-gray;
        box-shadow: 0 3px 7px 0 $color-ma-dark-gray;
      } 
    }

    &__footer{
      text-align: center;
    }


    
    
}



/*Pagination in QuestionBase*/
.page-item.active .page-link{
  background-color: $color-ma-blue;
  border-color:   $color-ma-blue;
}

.pagination-questions{
  padding: 0px 15px;
}

.pagination-questions.row a {
    color: $color-ma-blue;
}

.pagination-questions ul.pagination {
    margin-bottom: 0px;
}

.page-item.active .page-link:hover {
    color: white;
    font-weight: bold;
}
