/*CSS for Question*/

/*main class for any question's label-info that is shown in QuestionCard and QuestionPage*/
.question-info{
  padding: 5px 10px;
  border-radius: 5px;
  color: $color-ma-white;
  background: $color-ma-green;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size:13px;
  text-align:center;

  @include for-phone-only {
    display: inline-flex;
    margin-bottom: 0px;
  }

  &--source-year{
    margin-bottom: 10px;
  }

  &--purple{
    background: $color-ma-purple;
  }

  &__more-info{
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__author{
        font-weight: bold;
        font-style: italic;
  }

  

} 


//Question Page where c-question is the main container
.c-question {

    &__row-tags{
      margin-bottom: 0px !important;
    }

    &__tag-name{
      display: inline-block;
      margin-bottom: 5px;
    }

    &__options{
      margin-top: 5px;
    }

    &__row-info {
        margin-bottom: 10px;
    }

    //Don't show results number in QuestionPage
    .c-question-base__total-results {
        display: none;
    }

    &--section-border{
      border: 1px solid rgba(0, 0, 0, 0.125);
      margin: 10px 0px;
      padding: 20px 10px;
      border-radius: 8px;
    }

    &__tittle-section{
      margin-top: 22px;
      margin-bottom: 10px;

      @include for-tablet-landscape-bottom {
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }

    &__full-statement img{
      max-width: 100%;
    }

    &__btn-remove-question{
      background: $color-ma-red !important;
      color: $color-ma-white;
      border: 1px solid  $color-ma-red !important;
    }

    
    &__btn-back{
      font-size:13px;
      @include for-phone-only {
        padding: 5px 8px;
      }
    }

    &__section-list-learning-objects{
      background:#E9F0F5 !important;
      margin: 10px 0px;
      padding: 20px 10px;
      border-radius: 8px;
    }

    &__learning-object{
      background: $color-ma-white;
      text-align: center;
      margin-bottom:15px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding: 20px;

      @include for-tablet-landscape-bottom {
        margin-bottom: 15px;
      }

      &--text{
       text-align: justify;
      }

      &--image{

      }

      &:last-child{
        margin-bottom: 0px;
      }

      p{
        margin-bottom:0px;
      }
    }

    //Learning Object section in QuestionPage
    &__img{
      @include for-phone-only {
            width: 100%;
        }
    }

    &__section-statement-text{

    }

    &__section-alternatives{
      
    }

    &__section-answer{
      
    }

    &__alternatives .alternative:last-child{
        margin-bottom: 0px;
    }

    &__answer{
      margin-bottom: 0px;
    }

    &__answer-title{
      font-weight: bold;
    }

    &__l-alternative{
      display: flex;
    }

    &__resolution-text{
      font-style: italic;
      margin-top: 5px;
    }

    &__section-add-question{
      margin-top: 20px;
    }

    &__add-question-rectangle{
      text-align: right;
      padding-right: 8px;
    }

    &__add-question-title{
      margin-bottom: 15px;
    }

    &__list-documents{
      margin-top: 15px;

      p{
        margin-bottom: 0px;
      }
    }

    &__label-tag-header{
      padding: 3px 7px;
      border-radius: 5px;
      color: $color-ma-white;
      font-weight: bold;
      font-size: 13px;
      text-align: center;
      display: inline-block;
      margin: 0px 5px 0px 0px;
      &:last-child{
        margin: 0px 0px 0px 0px;
      }
    }

    

    &__tag--pink{ 
      background: $color-ma-pink;
      border-color:  $color-ma-pink
    }

    &__tag-green{ 
      background: $color-ma-green;
      border-color:  $color-ma-green;
    }

    &__tag--purple{ 
      background: $color-ma-purple;
      border-color:  $color-ma-purple;
    }
}


.texto_associado_questao {
  text-align: center;
}

.texto_associado_questao img {
  max-width: 100%;
}

//Flex in c-question header
.c-question__label-tag-header.p-2 {
  padding: 3px 7px !important;
}

.question-information.container{
  @include for-phone-only {
    padding-right: 0px;
    padding-left: 0px;
  }
}