.c-classplan{

    &__title{
        color: $color-ma-blue;
    } 

    &__row-info{
        margin-bottom: 5px;
    }

    &__disciplines{
        .badge-pill{
          background: $color-ma-pink;
          border-color:$color-ma-pink;
          border-radius: 5px;
          margin-right: 2px;
          margin-bottom: 3px;
          font-size: 14px;
        }
    }




    &__topics{
        .badge-pill{
          background: $color-ma-green;
          border-color:$color-ma-green;
          border-radius: 5px;
          margin-right: 2px;
          margin-bottom: 3px;
          font-size: 14px;
        }
    }



    &__col-btn-remove-link{
        @include for-phone-only {
            text-align: right;
        }
    }

    &__btn-remove-link{
        background: $color-ma-red !important;
        color: $color-ma-white;
        border: 1px solid $color-ma-red  !important;
    }

    &__col-link-text{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.c-my-classplans{
    .table-responsive{
        @include for-tablet-landscape-up{
          overflow: inherit !important;
        }
      }
      
    &__btn-remove{
        color: $color-ma-red;
    
        &:active{
          color: $color-ma-white;
          background-color: $color-ma-red;
        }
        &:hover{
          color: $color-ma-white;
          background-color: $color-ma-red;
        }
      }
}