/*LOGIN*/
.contenedor-login {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 400px;
    margin-right: auto !important;
    margin-left: auto !important;
    background: #add2ef;
    border-radius: 10px;
}

.navbar-toggler{
  background: red;
}

nav a {
    color: white;
  }
