/*CSS for Question*/

span.top-label-question {
    padding: 5px 10px;
    background: #fa7b70;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
}

span.source-name {
    background: #fa7b70;
}

span.discipline-name {
      background: #0ec54d;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl  {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-float{
    position: fixed;
    right: 37px;
    top:100px;
}

.btn-lateral{
    background-color: #008ECF;
    color: white;
    margin: 10px;
}

.btn-filter
{
    background-color: #283896;
    color: #FFF;
}
