/*
CSS for RegisterPage
*/

@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
  font-family: 'Raleway',serif;
  padding: 20px;
  margin: 0;
}

.contenedor-register .form-grouo{
   font-family: 'Raleway',serif;
}
