
.error-message-text{
    color:$color-ma-red;
    font-size: 12px;
    margin-left: 2px;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

    &__message{
        margin-bottom: 0px;
    }
}
